h2 {
  font-weight: bolder;
  color: rgb(62, 245, 62)
  
}

h3 {
  color: rgb(133, 60, 186);
  font-style: sans;
  text-align: center;
}

.container {
  padding: 25px;
}

.column {
  border: 2px solid black;
  padding: 12px;
  background-color: black;
  display: block;
  width: 40%;
  margin: auto;
  box-sizing: border-box;
  float: right;
}

.row {
  padding: 25px;
}

#button1 {
  align-content: center;
}
#button2 {
  align-content: center;
}

#player2-roll {
  display: none;

} 
#hold-player2-button {
  display: none;
}
#hold-player1-button {
  display: content;
}
